name: Check

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
  push:
    branches:
      - master

jobs:
  # Checks install
  test-install:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-2022

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Check x86-64
        run: |
          choco pack
          choco install bottom -dv -s .
          btm -V

      - name: Ensure x86-64 version matches
        run: |
          $choco_info = choco list bottom
          $btm_version = btm -V
          if ( $btm_version -eq $choco_info[1] )
          {
            echo "bottom versions matches choco"
          }
          else
          {
            echo "bottom version mismatch with choco!"
            echo "----- choco info -----"
            choco list bottom
            echo "----- compared choco info line -----"
            echo $choco_info[1]
            echo "----- bottom info -----"
            btm -V
            exit 1
          }
