name: Update

# Used for automatically making a PR when bottom releases.

on: [repository_dispatch]

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Get package info from repo
        run: |
          curl -LO https://github.com/ClementTsang/bottom/releases/download/${{ github.event.client_payload.version }}/choco.zip
          unzip -o choco.zip
          rm choco.zip

      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 #v2.1.4
        id: generate-token
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_SECRET }}

      - name: Create PR
        uses: peter-evans/create-pull-request@dcd5fd746d53dd8de555c0f10bca6c35628be47a
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: "Actions: Update choco package files to ${{ github.event.client_payload.version }}"
          title: "Automatic choco update to ${{ github.event.client_payload.version }}"
          body: "This is an automatic update to the choco files in response to a bottom release, version ${{ github.event.client_payload.version }}."
          branch: update_branch
          delete-branch: true
